<% content_for(:navbar) do %>
  <a href="/users" class="brand-logo center headerText"> <%= image_tag "the_beatles.png", class: "resizeImage" %> </a>
<% end %>

<h1>Edit user</h1>

<%= render "form" %>
